<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Course">
            <id property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="coverUrl" column="cover_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        course_id,course_name,teacher_id,
        description,category,price,
        status,create_time,update_time,
        cover_url
    </sql>
</mapper>
