<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.TeachersMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Teachers">
            <id property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="qualification" column="qualification" jdbcType="VARCHAR"/>
            <result property="specialization" column="specialization" jdbcType="VARCHAR"/>
            <result property="bio" column="bio" jdbcType="VARCHAR"/>
            <result property="salary" column="salary" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_id,user_id,qualification,
        specialization,bio,salary,
        level
    </sql>
</mapper>
