<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserObjStarsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.UserObjStars">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="objId" column="obj_id" jdbcType="BIGINT"/>
            <result property="scoreCount" column="score_count" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,obj_id,
        score_count
    </sql>
</mapper>
